.reset-password{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--color-bg);
}
.reset-password-form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-secondary);
    border: 6px solid var(--color-border);
    border-radius: 8px;
    width: 35%;
    min-height: 60vh;
    gap: 1rem;
    position: relative;
}
.reset-password-title{
    color: var(--color-primary);
    opacity: 0.8;
    font-size: 2rem;
}
.reset-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}
.reset-password-input-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    position: relative;
    height: 3rem;
}
.reset-password-input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: var(--color-bg-secondary);
    border: 2.5px solid var(--color-border);
    top: 0;
    left: 0;
    border-radius: 6px;
    color: var(--color-text);
}
.reset-password-label{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0.75rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: color 0.2s ease,opacity 0.2s ease,transform 0.2s ease;
}
.reset-password-input:placeholder-shown + .reset-password-label{
    color: var(--color-text);
    opacity: 0.6;
}
.reset-password-input:not(:placeholder-shown) + .reset-password-label{
        color: var(--color-primary);
    opacity: 0.8;
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    font-weight: bold;
    transform: translateY(-50%)
}
.reset-password-input:focus{
    outline: 2px solid var(--color-primary);
    outline-offset: 0px;
}
.reset-password-button{
    padding: 0.5rem 1rem;
    color: var(--color-primary);
    background: var(--color-bg-secondary);
    border: 2px solid;
    border-color: var(--color-border);
    border-radius: 6px;
    width: 40%;
    max-width: 250px;
    font-size: 1rem;
}
.reset-password-button:hover{
    background: var(--color-primary);
    color: var(--color-bg-secondary);
}

.reset-password-button:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}
.reset-password-response{
     display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 300px;
    min-height: 5rem;
}
.reset-password-error{
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: var(--color-bg);
    border: 3px solid var(--color-error-border);
    color: var(--color-error);
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    height: 100%;
    min-height: 3rem;
    padding: 0.5rem;
    margin: 0;
    box-sizing: border-box;
}
.reset-password-success{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: var(--color-bg);
    border: 3px solid var(--color-primary);
    color: var(--color-success);
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    min-height: 3rem;
    padding: 0.5rem;
    margin: 0;
    box-sizing: border-box;
}
.invalid-token{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--color-error);
    opacity: 2;
}
@media (max-width : 600px) {
    .reset-password-form-wrapper{
        width: 100%;
        min-height: 100vh;
        justify-content: flex-start;
    }
}